

.fancy {
  color: #2a96f1;
}

.post .tags__list .tag__item .tag__link {
  color: #2a96f1;
  background: #e8f5ff;
}

.post .tags__list .tag__item .tag__link :hover {
background: #d5eeff;
}

.post img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}